


#main_menu {
  background-color: #03013A;
  padding: 10px 0;

  .current a {
    text-decoration: underline;
  }

  ul {
    margin: 0;
  }

  li {
    list-style: none;

    &.back {
      border-bottom: 2px solid #acbedb; /*background: #E6E8EA;*/
      height: 30px;
      position: absolute;
      z-index: 8;
    }

    a:hover,
    a:active,
    a:visited {
      border: none;
    }

    a {
      color: #cddaec;
      display: block;
      font: bold 12px "Trebuchet MS",Verdana;;
      letter-spacing: 0;
      outline: none;
      overflow: hidden;
      padding: 10px 0;
      position: relative;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      z-index: 10;

      &:focus,
      &:hover {
        color: #fff;
      }

      .lang_ru-ru & {
        font-size: 11px;
        margin-left: 9px;
        margin-right: 9px;
      }

      .lang_fi-fi & {
        font-size: 10px;
        margin: auto 10px;
      }
    }
  }
}



@media (min-width: $screen-md-min) {
  #main_menu {
    background: url(../images/menu2.gif);
    height: 50px;
    margin-top: 1px;
    padding: 0;
    width: 950px;

    .lavalampnoimage {
      height: 50px;
      list-style-type: none;
      margin: 0 0 0 20px;
      overflow: hidden;
      padding: 0;
      position: relative;
      width: 950px;
    }

    li {
      float: left;
      padding-top: 10px;

      a {
        float: left;
        height: 30px;
        margin: auto 12px;
        padding: 0;
        top: 7px;
      }
    }
  }
}
